* {
    box-sizing: border-box;
}
/*
 <-- COLORS -->
    #f26159; - redish
    #212020; - gray
    #fec00f; - yellow

<-- DESKTOP VERSION REQUEST -->
    desktop_example.html
    https://stackoverflow.com/questions/21312707/show-full-site-button-to-bypass-css-media-queries

*/


/* FANCY BUTTON */
.fancy-button, .fancy-button.full {
    outline-style: none;
    font-size: 40px;
    text-transform: uppercase;
    font-family: Gill Sans MT, Gill Sans, My Gill Sans, sans-serif;
    background-color: transparent;
    border: solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 0 30px;
    cursor: pointer;

    display: unset;

}

.fancy-button:hover,
.fancy-button:active {
    background-color: black;
    color: #fec00f;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

/* BODY */
body, body.full {
    
    
    display: grid;
    grid-template-rows: 180px 720px;
    margin: 0;
    background-color: #191919;

    zoom: unset;
}


/* HEADER */
.head-wrap, .head-wrap.full {
    

    display: grid;
    height: 120px;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fec00f;

    position: unset;
    padding: 0;

}

.v-shape, .v-shape.full {
    /* background */
    background-image: url(img/minback-1.png);
    background-repeat: no-repeat;
    background-position: 0 -190px;
    background-size: 100% 200%;
    
}

.logo, .logo.full {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo-img {
    width: 100px;
}

.logo-name {
    align-self: center;
    margin: 0 20px 10px 20px;
    font-size: 67px;
    font-family: 'Concert One', cursive;
    color: #222222;
}

.navigation {
    display: flex;
    align-self: center;
    height: 60%;
    grid-column: auto / 13;
}

#menu-button, #mySidenav, #menu-button.full, #mySidenav.full, .closeSidenav, .closeSidenav.full {
    display: none;
}


/* CONTENT */
.container, .container.full {
    display: grid;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: #fec00f;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 1fr;
}

.title, .title.full {
    margin: 0;
    text-align: center;
    grid-column: 1 / 8;
    grid-row: 2;
    text-transform: uppercase;

    font-size: unset;
    justify-self: unset;
}


.hand-img, .hand-img.full {
    height: 60%;
    grid-column: 8 / 13;
    grid-row: 2;

    justify-self: unset;
}


.timer, .timer.full {
    display: inline;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: black;
    background-color: #fec00f;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

/* FOOTER */
.credits {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #fec00f;
}


@media screen and (max-width: 1000px) {

    .head-wrap {
        position: fixed;
        grid-template-columns: 120px 350px repeat(10, 1fr);
        padding: 0 100% 0 0;
    }

    .v-shape {
        background-image: unset;
    }

    body {
        grid-template-rows: 60px 720px;
        zoom: 35%;
    }

    .logo {
        margin-left: 15px;
    }

    #menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 0;
        background-color: #fec00f;
        border: none;
        font-size: 70px;
        content: "\f0c9";
        height: 120px
    }

    #menu-button:active {
        filter: brightness(85%);
    }

    .container {
        grid-template-rows: 220px 1fr 1fr;
    }

    .fancy-button {
        display: none;
    }

    .title {
        justify-self: center;
        font-size: 80px;
        grid-column: 3 / 11;
    }

    .timer {
        font-size: 135px;
    }

    .hand-img {
        justify-self: center;
        height: 800px;
        grid-column: 3 / 11;
        grid-row: 3;
    }

    .credits {
        font-size: 40px;
    }


    /* SIDEBAR */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 168px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    /* The navigation menu links */
    .sidenav a:not(:last-child) {
        padding: 22px 22px 22px 90px;
        text-decoration: none;
        font-size: 70px;
        color: #fec00f;
        display: block;
        transition: 0.3s;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
    }
    /* When you mouse over the navigation links, change their color */
    .sidenav a:not(:last-child):hover {
        color: #f1f1f1;
        background-color: #222222;
    }
    .sidenav a:not(:last-child):active {
        background-color: #222222;
    }
    .closebtn.closebtn:active {
        background-color: unset;
    }
    .desktop {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 25%;
        color: #333333;
        font-size: 45px;
        /* forbids text to go on next line */
        white-space: nowrap;
        overflow: hidden;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 70px;
        font-size: 100px;
        margin-left: 140px;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 56px;
    }
    #mySidenav {
        display: block;
    }
    @media screen and (max-height: 450px) {
        /* .sidenav {padding-top: 40px;} */
        .sidenav a {font-size: 50px;}
    }

    .closeSidenav {
        display: block;

        position: fixed;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
}

/* TODO's:
  1) Fix broken hitbox of .closebtn
✓ 2) Add "View desktop" version
  3) Add "View mobile" version
✓ 4) Make tap on background close sidebar
  5) Javascript backend
    a) Log In / Register
    b) Cookies
    c) Datebase
*/
